.ArtContainer {
  margin-top: $nav-height + 1.5rem;
  max-width: 900px;
  min-width: $mobile;
  margin-right: 2rem;
  margin-left: 1rem;
  @media (max-width: $nav-mobile) {
    margin-top: $nav-height-responsive + 1rem;
  }
  @media (max-width: $tablet) {
    margin-right: 0;
    margin-left: 0;
  }
}

.titleContainer {
  @include hoverOpacity;
  margin-bottom: 0.5rem;
  font-weight: weight(bold);
  font-size: fontSizes(subTitle);
  height: auto;
  a {
    font-weight: inherit;
    font-size: inherit;
  }
  @media (max-width: $tablet) {
    flex-direction: column;
    margin-left: 1rem;
    border-bottom: $border-default;
    margin-right: 1rem;
    padding-bottom: 0.5rem ;
    margin-bottom: 0;
  }
}
