.NovedadesContainer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  &_row {
    @include mediaTabletReset;
    border-top: $border-default;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
  }
  &_col {
    display: flex;
    align-items: stretch;
    margin-top: 1rem;
    width: 30%;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
