.OpinionContainer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  &_row {
    @include mediaTabletReset;
    border-top: $border-default;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &_col {
    width: 30%;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}
