.ArtContainer {
  margin-top: $nav-height + 1.5rem;
  max-width: 900px;
  min-width: $mobile;
  margin-right: 2rem;
  margin-left: 1rem;
  @media (max-width: $nav-mobile) {
    margin-top: $nav-height-responsive + 1rem;
  }
}

.titleContainer {
  margin-bottom: 0.5rem;
  font-weight: weight(bold);
  font-size: fontSizes(subTitle);
  a {
    font-weight: inherit;
    font-size: inherit;
    &:hover {
      opacity: 0.8;
    }
  }
  @media (max-width: $tablet) {
    flex-direction: column;
    margin-left: 1rem;
    border-bottom: $border-default;
    margin-right: 1rem;
    padding-bottom: 0.5rem ;
    margin-bottom: 0;
  }
}

.HeadContainer {
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  @media (max-width: $tablet) {
    flex-direction: column;
    margin-right: 0;
  }
  @media (max-width: $nav-mobile) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.HeadContainer_mainArticle {
  width: 66.66%;
  padding-right: 1rem;
  padding-left: 1rem;
  @media (max-width: $nav-mobile) {
    padding-right: 0.5rem;
    padding-left: 0;
    margin-right: 0;
  }
  @media (max-width: $tablet) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
  }
}

.HeadContainer_sideArticles {
  @include flexCenterColumn;
  justify-content: space-around;
  width: 33.33%;
  border-left: $border-default;
  padding-left: 1rem;
  @media (max-width: $nav-mobile) {
    padding-right: 0;
    padding-left: 0.5rem;
  }
  @media (max-width: $tablet) {
    width: 100%;
    border: none;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.OpinionContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  &_row {
    padding-top: 1rem;
    border-top: $border-default;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
        width: 100%;
        border: none;
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
      }
  }
  &_col {
    width: 30%;
    @media (max-width: $tablet) {
        width: 100%;
      }
  }
  @media (max-width: $nav-mobile) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

.NotasContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  &_row {
    padding-top: 1rem;
    border-top: $border-default;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
        width: 100%;
        border: none;
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
      }
  }
  &_col {
    width: 31%;
    @media (max-width: $tablet) {
        width: 100%;
      }
  }
  @media (max-width: $nav-mobile) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.NovedadesContainer {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  &_row {
    border-top: $border-default;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    @media (max-width: $tablet) {
        width: 100%;
        border: none;
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
      }
  }
  &_col {
    margin-top: 1rem;
    width: 30%;
    @media (max-width: $tablet) {
        width: 100%;
      }
  }
  @media (max-width: $nav-mobile) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
